.headerTabsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

}

.webTabs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 33px;
}

.Links {
    color: white;
    text-decoration: none;

    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 15px;
}

.active {
    border-bottom: 1px solid #FFD639;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    color: #FFD639;
    padding-bottom: 10px;
}